:root {
  --semi-dark: #1F1F1F;
  --dark: #08090B;
  --light-sky: hsl(162, 100%, 70%);
  --linear-charm: linear-gradient(40deg, var(--light-sky),#4bd1e2);
  --gray: #6E6E6F;
  --shadow: #D8D8D8;
  --white: #F4F4F4;

  --inter: 'Inter', sans-serif;
  
  --large-font: 80px;
  --small-font: 14px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

  font-family: var(--inter);

}

body,html{
  background-color: #F4F4F4;
}

html {
  -webkit-text-size-adjust: 100%;
}

button, a{
  -webkit-tap-highlight-color: transparent;
}

.no-drag {
  -webkit-user-drag: none;
}
.no-callout {
  /* Disable hold touch (copy/save) */
  -webkit-touch-callout: none;
}


::-webkit-scrollbar{
  width: 5px;
  height: 6px;
}
::-webkit-scrollbar-track{
  background-color: rgba(141, 141, 141, 0.445);
}
::-webkit-scrollbar-thumb{
  background: var(--dark);
  border-radius: 222px;
}







